<!DOCTYPE html>
<html>
<body>
<form action="/post" method="post">
  Buy/Sell:     <input type="text" name="buysell">      <br/>
  author:       <input type="text" name="author">       <br/>
  condition:    <input type="text" name="condition">    <br/>
  edition:      <input type="text" name="edition">      <br/>
  courseName:   <input type="text" name="courseName">   <br/>
  courseNumber: <input type="text" name="courseNumber"> <br/>
  message:      <input type="text" name="message">      <br/>
  isbn:         <input type="text" name="isbn">         <br/>
  price:        <input type="text" name="price">        <br/>
  professor:    <input type="text" name="professor">    <br/>
  title:        <input type="text" name="title">        <br/>
  <hr />
  Post to FB Group? <input type="checkbox" checked="checked" name="postToGroup" value="true"> 
                    <input type="submit">
  <br/><br/>
  If you do not post to the FB group, this post will only be visible to other Bookstand users.
</form>
</body>
</html>
