<!DOCTYPE html>
<html>
<body>
This is the search page.
{{#results}}
<hr/>
author         : {{author}} <br/>
buysell        : {{buysell}} <br/>
condition      : {{condition}} <br/>
edition        : {{edition}} <br/>
courseName     : {{courseName}} <br/>
courseNumber   : {{courseNumber}} <br/>
fromFbId       : {{fromFbId}} <br/>
fromName       : {{fromName}} <br/>
isbn           : {{isbn}} <br/>
price          : {{price}} <br/>
professor      : {{professor}} <br/>
title          : {{title}} <br/>
originalPostId : {{originalPostId}} <br/>
message        : {{message}} <br/>
createdTime    : {{createdTime}} <br/>
updatedTime    : {{updatedTime}} <br/>
{{/results}}    
</body>
</html>
